# App
NODE_ENV=""
APP_ORIGIN=""
NEXT_PUBLIC_APP_ORIGIN=""
NEXT_BASE_URL=""
NEXT_PUBLIC_BASE_URL=""

# Logging
SENTRY_AUTH_TOKEN=""

# Better Auth
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""

# Database
DATABASE_URL=""
DB_PORT=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""

# Pg Admin
PGADMIN_DEFAULT_EMAIL=""
PGADMIN_DEFAULT_PASSWORD=""
PGADMIN_PORT=""

# Redis
REDIS_URL=""

# Email
SMTP_HOST=""
SMTP_PORT=""
SMTP_USER=""
SMTP_PASSWORD=""
SMTP_SECURE=""
SMTP_FROM=""

# OAuth
# Linkedin
LINKEDIN_CLIENT_ID=""
LINKEDIN_CLIENT_SECRET=""

# Microsoft
MICROSOFT_CLIENT_ID=""
MICROSOFT_CLIENT_SECRET=""
MICROSOFT_TENANT=""

# Google
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Slack
SLACK_CLIENT_ID=""
SLACK_CLIENT_SECRET=""
SLACK_SIGNING_SECRET=""

# CLOUDINARY
CLOUDINARY_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Open AI
OPENAI_API_KEY=""

# GEMINI
GOOGLE_GENERATIVE_AI_API_KEY=""

# XAI
XAI_API_KEY=""
