# App
NODE_ENV=""

NEXT_BASE_URL=""
NEXT_PUBLIC_BASE_URL=""

# Better Auth
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""


# Database
DATABASE_URL=""

# Redis
REDIS_URL=""

# Email
SMTP_URL=""
SMTP_FROM=""

# OAuth
LINKEDIN_CLIENT_ID=""
LINKEDIN_CLIENT_SECRET=""
LINKEDIN_REDIRECT_URI=""

MICROSOFT_CLIENT_ID=""
MICROSOFT_CLIENT_SECRET=""
MICROSOFT_TENANT=""
MICROSOFT_REDIRECT_URI=""

# GEMINI
GEMINI_API_KEY=""

# CLOUDINARY
CLOUDINARY_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""